/* RESET */
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit; 
}
Link {
  list-style: none;
}
/* KEYFRAMES */
@keyframes riseUp {
  
}
/* BASE STYLES */
body {
  background-color: black;
  color: white; 
  position: relative;
  overflow-x: hidden;
  font-family: 'Climate Crisis', cursive;
}
body::-webkit-scrollbar {
  display: none; 
}
.main {
  display: flex;
  text-align: center;
}
/* NAVBAR */ 
.logo {
  height: 40px;
}
.navbar {
  position: fixed;
  display: flex; 
  align-items: center;
  padding: 15px 20px; 
  justify-content: space-between;
  width: 100%;
  font-weight: 1000;
}
.nav-ul {
  display: flex;
}
.nav-ul li {
  margin-right: 20px;
  cursor: pointer;
  font-size: 26px;
  color:rgb(20, 143, 20); 
}
.btn {
  padding: 3px; 
  font-size: 14px;
  width: 110px;
  font-weight: 1000;
  font-family: 'Climate Crisis', cursive;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.btn:hover {
  transform: scale(1.05);
}
/* FISHING */
.fishing {
  max-width: 1000px;
  height: 500px;
  margin: 0 auto; 
  margin-top: 100px;
  padding: 0 25px;
  display: flex; 
  align-items: center;
}
.bridge {
  position: absolute;
  top: 280px; 
  right: -20px; 
}
.hero {
  position: absolute;
  top: 130px; 
  right: 130px;
}
.hero-animate {
  position: absolute;
  top: -145px; 
  right: -180px;
}


